:root {
  --instagram-gradient: linear-gradient(
    90deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d,
    #f56040,
    #ffd700
  );
}

body {
  margin: 0;
  display: grid;
  grid-template-columns: auto 1fr auto;
  height: 100vh;
  font-family: "Roboto", sans-serif;
}

.left {
  width: 11vw;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1.8rem;
  top: 0;
  left: 0;
  position: fixed;
  height: 100vh;
  border-right: 1px solid rgba(128, 128, 128, 0.548);
}

.middle {
  width: 45vw;
  margin-left: 22vw;
  margin-right: 8vw;
  display: grid;
  grid-template-rows: 13vh 1fr;
}

.middle-top {
  padding: 0.6rem;
  height: 7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.middle-bottom {
  justify-self: center;
  margin-top: 2rem;
  padding: 1.4px;
  color: white;
  width: 500px;
  height: 100vh;
}

.right {
  width: 15vw;
  background-color: royalblue;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  padding: 2rem 3rem 2rem 3rem;
}
